*.swo
*.swp
*.class
target/
build/
.gradle/
*/external/emsdk.tgz
*/external/emsdk/
*/external/gc/asmjs
*/external/gc/boehm_asmjs
*/external/gc/boehm_native
sjsc/.settings/org.eclipse.jdt.core.prefs
sjsc/.classpath
*.iml
*.ipr
sjsc/.idea/*
*.pyc
*.dSYM
